<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body {
            background-color: beige;
        }

        .main {
            background-color: white;
            border-color: 1px solid white;
            box-shadow: 5px, 5px, 5px black;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 20px;
            width: 50%;
            height: 50vh;
            margin: auto;

        }

        .exit {
            position: absolute;
            bottom: 0px;
        }

        .user {
            position: absolute;
            top: 0px;
            width: 100%;
            height: 50px;
            margin-left: 15px;

        }

    </style>
</head>
<body>
    <div class="main">
        <h1> You've Chosen Bojack </h1> 

        <p> 
            Bojack's a man of few words, but legend has it; he's never lost anyone on the 
            Oregon Trail!  
        </p>

        <p> Do you risk your life and continue or Turn Back ? </p>

        <a href="/oregontrail/bojack/continue"> continue on </a>
        <a href="/oregontrail"> turn back </a>

        <div class="user">
            <p> Username: <strong> <%= my_user %> </strong></p>
        </div>

    </div>
    
    <div class= "exit">
        <a href="/home"> EXIT </a>
    </div>
</body>
</html>