<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body {
            background-color: beige;
        }

        .main {
            background-color: white;
            border-color: 1px solid white;
            box-shadow: 5px, 5px, 5px black;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 20px;
            width: 50%;
            height: 50vh;
            margin: auto;

        }

    </style>
</head>
<body>
    <div class="main">
        <h1> Welcome to Oregon Trail</h1>
        <h2> Choose Your Path </h2>
    
        <span class="links">
            <a href="/oregontrail"> The Oregon Trail</a>
            <br>
            <a href="/spacetrail"> The Truth Trail </a>
        </span>
    </div>
    
</body>
</html>