<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <style>
        body {
            background-color: beige;
        }

        .main {
            background-color: white;
            border-color: 1px solid white;
            box-shadow: 5px, 5px, 5px black;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 20px;
            width: 50%;
            height: 50vh;
            margin: auto;

        }

        a {
            color: red;
            font-size: 40px;
            padding: 5px;
        }

        .exit {
            position: fixed;
            bottom: 0px;
            background-color: white;
        }

        .restart {
            position: fixed;
            bottom: 0;
            right: 0;
            background-color: white;
        }

        img {
            width: 60%;
            height: 50%;
            margin-top: 20px;
        }

    </style>
</head>
<body>
    <div class="main">
        <h1> Patricia the Prosperous! </h1>
        <p> 
            Patricia was an excellent hunter and said to be the fiercest explorer of them all.
            Her expeditions consistently made the best times and her navigator duties were sought 
            out far and wide.  Unfortunately on this trip most of her group died from the dreaded
            DYSENTERY! 
    
        </p>

        <img src="
        https://www.inquirer.com/resizer/E5pyNFBT2LKwpaZbZN713rGn1Sc=/760x507/smart/filters:format(webp)/arc-anglerfish-arc2-prod-pmn.s3.amazonaws.com/public/32TXQMGMV5GTLNPWBY4AJZGPR4.jpg
        " alt="">
    </div>

    <div class= "exit">
        <a href="/home"> EXIT </a>
        <a class="restart" href="/oregontrail"> RESTART </a>
    </div>
</body>
</html>