<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <style>
        body {
            background-color: beige;
        }

        .main {
            background-color: white;
            border-color: 1px solid white;
            box-shadow: 5px, 5px, 5px black;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 20px;
            width: 50%;
            height: 50vh;
            margin: auto;

        }

        .exit {
            position: absolute;
            bottom: 0px;
        }

        img {
            width: 60%;
            height: 50%;
            margin-top: 20px;
        }

    </style>
</head>
<body>
    <div class="main">
        <h1> Patricia the Prosperous! </h1>
        <p> 
            One of the fiercest explorers this side of the mississippi, 
            Bojack's team finally made it to the end of the dangerous Oregon Trail.
            Bojack's fearless leadership and decision making helped them nagivate famime, 
            cold weather and countless other obstacles as they found there new land in Oregon.
    
        </p>

        <img src="
        https://www.inquirer.com/resizer/E5pyNFBT2LKwpaZbZN713rGn1Sc=/760x507/smart/filters:format(webp)/arc-anglerfish-arc2-prod-pmn.s3.amazonaws.com/public/32TXQMGMV5GTLNPWBY4AJZGPR4.jpg
        " alt="">
    </div>

    <div class= "exit">
        <a href="/home"> EXIT </a>
    </div>
</body>
</html>