<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <style>
        body {
            background-color: black;
            justify-content: center;
        }

        .main {
            background-color: black;
            border-color: 1px solid white;
            box-shadow: 5px, 5px, 5px black;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 20px;
            width: 50%;
            height: 50vh;
            margin: auto;

        }

        h1, h2, h3, p {
            color: white;
        }

        a {
            color: red;
        }
    </style>
</head>
<body>
    <div class="main">
        <h1> Truth </h1>
    
        <p> Remember... all I'm offering is the truth<%= punctuation %>  <%= my_user %> . Nothing more  
        </p>

        <a href="/thematrix">

            <img src="https://miro.medium.com/max/655/1*Km8L3hkAcjNhZWtFLDWmtA.png" alt="">
        </a>

    
        <a href="/home"> HOME </a>
        
    </div>
    
</body>
</html>