<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        html {
            min-height: 100%;
            background-image: url("https://c.tenor.com/Zco-fadJri4AAAAd/code-matrix.gif");
            background-size: cover;
        }

        .main {
            background-color: black;
            border-color: 1px solid white;
            box-shadow: 5px, 5px, 5px black;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 20px;
            width: 50%;
            height: 50vh;
            margin: auto;
            color: white;
            text-align: center;

        }

        .red-pill, .blue-pill {
            background-color: white;
            color: green;
            width: 200px;
            height: 200px;
        }

        img {
            height: 100px;
            width: 100px;
        }

       
    </style>
</head>
<body>
    <div class="main">
        <h1> Welcome Chosen One!</h1>

        <p>
            <%= my_user  %>, you take the blue pill... the story ends, you wake up in your bed and believe 
            whatever you want to believe. You take the red pill... you stay in Wonderland, 
            and I show you how deep the rabbit hole goes.
        </p>

        <div class="red-pill">
            <h3> Red Pill </h3>
            <a href="/thematrix/redpill">
                <img src="https://images-platform.99static.com/8EZuGqq-N_XXo3t6XKgsV9pK4Ko=/500x500/top/smart/99designs-contests-attachments/3/3250/attachment_3250266" alt="">

            </a>
        </div>
        <div class="blue-pill">
            <h3> Blue Pill </h3>
            <a href="/home">
                <img src="https://incels.wiki/images/thumb/b/bb/Bluepill.png/300px-Bluepill.png" alt="">
            </a>
        </div>

    </div>
</body>
</html>