<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        html {
            min-height: 100%;
            background-image: url("https://c.tenor.com/Zco-fadJri4AAAAd/code-matrix.gif");
            background-size: cover;
        }

        .main {
            background-color: black;
            border-color: 1px solid white;
            box-shadow: 5px, 5px, 5px black;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 20px;
            width: 50%;
            height: 50vh;
            margin: auto;
            color: white;
            text-align: center;

        }

        .red-pill, .blue-pill {
            background-color: white;
            color: green;
            width: 200px;
            height: 200px;
        }

        img {
            height: 300px;
            width: 300px;
        }
</style>
</head>
<body>
    <div class="main">
        <h1>Truth!!!!</h1>
        <p>
            Some things just don't need a reboot. 
        </p>
        <a href="/home">
            <img src="https://cdn.mos.cms.futurecdn.net/oH6kaAfEhhTbmaCdwuboKC-970-80.jpg.webp" alt="">

        </a>

    </div>
    
</body>
</html>